<template name="classList">
    <div class="classList-div">
        <div class="row m-0 classList-submenu justify-content-center">
            <div class="row classList-container align-items-center">
                <span class="classList-container-disabled menu-a submenu-fixing">학습페이지</span>
                <span class=" submenu-fixing"> - </span>
                <span class="menu-a submenu-fixing">강좌 리스트</span>
            </div>
        </div>
        <div class="classList-panel  justify-content-center">
            <div class="w-100 h-100 row m-0 justify-content-center">
                <div class="classList-search row m-0 align-items-center">
                    <input type="text" name="" value="" class="searchClassValue">
                    <button type="button" name="button" class="searchClass">검색</button>
                </div>
                <div class="class-result">

                </div>
            </div>
        </div>
    </div>
</template>
