<template name="mainFooter">
    <div class="login-footer-sm">
        <div class="login-footer-logo">
            <img src="images/account/login/logo.gif" alt="" class="login-footer-logo-1">
            <img src="images/account/login/foot_logo011.gif" alt="" class="login-footer-logo-2">
            <img src="images/account/login/logo2.gif" alt="" class="login-footer-logo-3">
            <img src="images/account/login/HRDKorea_logo_2015_02.jpg" alt="" class="login-footer-logo-4">
        </div>
    </div>
    <div class="login-footer-lg">
        <div class="">
            <div class="login-footer-lg-desc float-left">
                <p class="login-footer-lg-desc-p1">T. 041-521 8090(자격연수-직업능력개발훈련교사) / 8114(NCS) / 8122(HRD) / 8042(기술연수-집체) / 8011(일학습병행제) / 8123(홈페이지) / 8001(기타)</p>
                <p class="m-0">(31253) 충청남도 천안시 동남구 충절로 1600 (가전리, 한국기술교육대학교)</p>
                <p class="m-0">사업자등록번호 : 312-82-03357 / 통신판매업신고 : 제2016-충남천안-0210호 한국기술교육대학교 대표자 : 김기영</p>
                <p class="login-footer-lg-desc-p4">Copyright(C) by hrdi.koreatech.ac.kr. All rights reserved</p>
            </div>
        </div>
    </div>
</template>
