<template name="mainContent">
    <div class="row justify-content-center index-img-container">
        <div class="index-img">
            <!-- <div class="index-img-navigation">
                <button type="button" name="button" class="index-img-navi-btn"></button>
                <button type="button" name="button" class="index-img-navi-btn"></button>
                <button type="button" name="button" class="index-img-navi-btn"></button>
            </div>
            <div class="index-img-content"><p>TensorFlow 강좌오픈</p>
                <button type="button" name="button" class="index-img-btn">START!</button>
            </div> -->
            <div class="slideshow-container">
                <div class="mySlides">
                    <img src="images/index/banner2.png" width="1200px" height="400px">
                </div>
            </div>
        </div>
    </div>
        <div class="index-container">
            <p class="index-course-title">강의실</p>
            <div class="row margin-0">

            </div>
        </div>
        <div class="code-test-container"><p class="index-course-title">코드 테스트</p>
            <div class="code-test-inner-container">

            </div>
        </div>
</template>
